<script>
layui.use('table', function(){
  var table = layui.table;
  
  	table.render({
	    elem: '#test'
	    ,url:'menu/list/'
		,toolbar: '#toolbarDemo'
	    ,cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
	    ,cols: [[
			{type: 'checkbox', fixed: 'left'}
	      	,{field:'Mid', width:60, title: 'ID', sort: true}
	      	,{field:'Name', width:140, title: '菜单名'}
			,{field:'Parent', width:100, title: '父菜单'}
			,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
	    ]]
		,page:true
  	});

	//头工具栏事件
  	table.on('toolbar(test)', function(obj){
	    var checkStatus = table.checkStatus(obj.config.id);
	    switch(obj.event){
	      case 'getCheckData':
	        var data = checkStatus.data;
	        layer.alert(JSON.stringify(data));
	      break;
	      case 'getCheckLength':
	        var data = checkStatus.data;
	        layer.msg('选中了：'+ data.length + ' 个');
	      break;
	      case 'isAll':
	        layer.msg(checkStatus.isAll ? '全选': '未全选');
	      break;
	    };
	});

	//监听行工具事件
  	table.on('tool(test)', function(obj){
	    var data = obj.data;
	    //console.log(obj)
	    if(obj.event === 'del'){
	      layer.confirm('真的删除行么', function(index){
			$.get("menu/del");
	        obj.del();
	        layer.close(index);
	      });
	    } else if(obj.event === 'edit'){
			//self.location="menu/edit?id="+data.Mid;
			layer.open({
				type:2,
				area: ['900px','600px'],
				offset: 'auto',
				content:"menu/edit?id="+data.Mid
			});
	    }
	  });
	
});

</script>

