<script>
var $;
layui.use(['form'], function(){
  var form = layui.form
  
  //监听提交
  form.on('submit(demo1)', function(data){
	var aceId = $('#form .ace_editor').attr('id');
    	var editor = ace.edit(aceId);
    	var jsonstr = editor.getValue();
	
	var form_data = data.field;
	form_data['formatstr']=jsonstr;
	form_data['mid']={{.Mid}}
      $.post('/format/editdo', form_data, function (out) {
		
	}, "json");
    return false;
  });
 
//表单初始赋值
  form.val('example', {
	"Mid":{{.Mid}}
  })
  
  
});
</script>

